body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    position: relative;
    display: flex;
}

nav {
    margin-left: auto;
}

header h1 {
    margin: 0;
}

main {
    padding: 1rem;
}

main h2 {
    margin: 1rem 0;
}

.highlighted {
    background-color: #FFFF8F;
    transition: background-color 0.3s ease;
}

header a {
    text-decoration: none;
    color: white;
    margin-bottom: 0;
}

main img {
    border-radius: 0.5rem;
}

main h3 {
    margin: 0.5rem 0;
}

main p {
    margin: 0;
}

#product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-item {
    flex-basis: calc(33.333% - 25px);
    padding: 10px;
    /* min-width: 300px; */
    display: block;
    text-decoration: none;
    color: #000;
    border-radius: 0.5rem;
}

.product-item:hover{
    background-color: #FFFF8F;
}

.product-item img {
width: 100%;
height: 70%;
object-fit: cover;
}

@media (max-width: 1400px) {
.product-item {
    flex-basis: calc(50% - 20px);
}
}

@media (max-width: 700px) {
.product-item {
    flex-basis: calc(100% - 20px);
}
}

/* main has margin 1rem but we want the first element to start immediately */
main :first-child{
    margin-top: 0;
}